<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>회원가입</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{bootstrap/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
        th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/bootstrap/css/sb-admin-2.min.css}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script th:inline="javascript">
        function registerTest() {
            let p1 = document.getElementById('password').value;
            let p2 = document.getElementById('password2').value;
            let register = document.getElementById("register");
            let username = document.getElementById("username").value;
            let phone = document.getElementById("phone").value;
            let email = document.getElementById("email").value;
            let emailRegExp = /^[A-Za-z0-9_]+[A-Za-z0-9]*[@]{1}[A-Za-z0-9]+[A-Za-z0-9]*[.]{1}[A-Za-z]{1,3}$/;
            let password1RegExp = /^[a-zA-z0-9]{4,12}$/;
            let phoneRegExp = /(01[0|1|6|9|7])[-](\d{3}|\d{4})[-](\d{4}$)/g;
            let usernameCheckVal = $("#userCheck").val();

            if(username =='') {
                alert("username을 입력해주세요");
                return false;
            }
            if(phone =='') {
                alert("핸드폰번호를 입력해주세요");
                return false;
            }
            if(!phoneRegExp.test(phone)) {
                alert("핸드폰번호는 01X-XXXX-XXXX로 입력해주세요");
                return false;
            }
            if(email == '') {
                alert("이메일을 입력해주세요");
                return false;
            }
            if(!emailRegExp.test(email)) {
                alert("이메일 형식이 올바르지 않습니다");
                return false;
            }
            if(p1 =='') {
                alert("비밀번호를 입력해주세요");
                return false;
            }
            if(p2 =='') {
                alert("비밀번호 확인을 입력해주세요");
                return false;
            }
            if(!password1RegExp.test(p1)) {
                alert("비밀번호는 영문 대소문자와 숫자 4~12자리로 입력해야합니다");
                return false;
            }
            if(p1 != p2) {
                alert("비밀번호가 일치하지 않습니다.");
                return false;
            }
            if(usernameCheckVal == "N") {
                alert("중복확인 버튼을 눌러주세요");
                return false;
            }
            else {
                $.ajax({
                    url:"/register",
                    type:"POST",
                    dataType:"JSON",
                    contentType: 'application/json; charset=utf-8',
                    data:JSON.stringify({"username": username, "password":p1, "phone":phone, "email":email}),
                    error: function(e) {
                        console.log(e)
                    },
                    success: function() {
                        alert("회원가입 완료")
                        location.href="/"
                    }
                })
                return true;
            }
        }
        function onKeyDown() {
            $("#userCheck").attr("value", "N");
        }
    </script>
    <script th:inline="javascript">
        function usernameCheck() {
            let username = document.getElementById("username").value;

            $.ajax({
                url:'/usernameCheck',
                type:'POST',
                dataType:"JSON",
                data:{"username":username},
                error:function(e) {
                  console.log(e)
                  alert("회원가입 실패")
                  location.href="/"
                },
                success:function(data) {
                    console.log(data);
                    if(data.response == true) {
                        alert("이미 있는 username입니다.");
                        $("#userCheck").attr("value", "N");
                    } else if(data.response == false) {
                        if(username =='') {
                            alert("username을 입력해주세요");
                            $("#userCheck").attr("value", "N");
                        } else {
                            alert("사용 가능한 username입니다.");
                            $("#userCheck").attr("value", "Y");
                        }
                    }
                }
            });
        }
    </script>

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">회원가입</h1>
                            </div>
                            <form name="user" class="user" method="post">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="username" name="username"
                                            placeholder="Username" onkeydown="onKeyDown()">
                                    </div>
                                    <div class="col-sm-6">
                                        <button class="btn btn-primary btn-user btn-block" id="userCheck" type="button" onclick="usernameCheck()" value="N">중복확인</button>
                                    </div>
                                </div>
<!--                                <div class="form-group">-->
<!--                                    <div style="color:red" th:if = "${insertError != null}" th:text="${insertError}"/>-->
<!--                                </div>-->
                                <input type="text" class="form-control form-control-user" id="phone" name="phone"
                                       placeholder="Phone">
                                <hr>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="email" name="email"
                                        placeholder="Email Address">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                            id="password" name="password" placeholder="Password">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            id="password2" name="password2" placeholder="Repeat Password">
                                    </div>
                                </div>
                                <input type="button" id="register" class="btn btn-primary btn-user btn-block" value="회원가입" onclick="registerTest()">
                                <hr>
                                <a th:href="@{/}" class="btn btn-google btn-user btn-block">
                                    로그인
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/bootstrap/vendor/jquery/jquery.min.js"></script>
    <script src="/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/bootstrap/js/sb-admin-2.min.js"></script>

</body>

</html>